<ion-content class="ion-padding">

  <!-- LOGO -->
  <div class="logo-container">
    <img src="assets/logista.jpeg" alt="Logo" />
  </div>

  <!-- CARD -->
  <ion-card class="form-card">

    <ion-card-header>
      <ion-card-title>Reset Password</ion-card-title>
      <ion-card-subtitle>Masukkan Password Baru</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <!-- PASSWORD BARU -->
      <ion-input
        label="Password Baru"
        type="password"
        fill="outline"
        placeholder="Masukkan Password Baru"
        [(ngModel)]="newPassword">
      </ion-input>

      <br>

      <!-- KONFIRMASI PASSWORD -->
      <ion-input
        label="Konfirmasi Password"
        type="password"
        fill="outline"
        placeholder="Ulangi Password"
        [(ngModel)]="confirmPassword">
      </ion-input>

      <br>

      <ion-button expand="block" (click)="resetPassword()">
        Reset Password
      </ion-button>

    </ion-card-content>

  </ion-card>

</ion-content>