<ion-content
  [fullscreen]="true"
  class="ion-padding otp-content">

  <!-- LOGO -->
  <div class="logo-container">

    <img
      src="assets/logista.jpeg"
      alt="Logo"
    />

  </div>

  <!-- TITLE -->
  <div class="otp-text">

    Masukkan Kode OTP

  </div>

  <!-- OTP INPUT -->
  <ion-grid>

    <ion-row class="ion-justify-content-center">

      <!-- OTP 1 -->
      <ion-col size="2">

        <ion-input
          #otp1
          type="tel"
          inputmode="numeric"
          fill="outline"
          maxlength="1"
          (ionInput)="moveNext($event, 1)">
        </ion-input>

      </ion-col>

      <!-- OTP 2 -->
      <ion-col size="2">

        <ion-input
          #otp2
          type="tel"
          inputmode="numeric"
          fill="outline"
          maxlength="1"
          (ionInput)="moveNext($event, 2)">
        </ion-input>

      </ion-col>

      <!-- OTP 3 -->
      <ion-col size="2">

        <ion-input
          #otp3
          type="tel"
          inputmode="numeric"
          fill="outline"
          maxlength="1"
          (ionInput)="moveNext($event, 3)">
        </ion-input>

      </ion-col>

      <!-- OTP 4 -->
      <ion-col size="2">

        <ion-input
          #otp4
          type="tel"
          inputmode="numeric"
          fill="outline"
          maxlength="1"
          (ionInput)="moveNext($event, 4)">
        </ion-input>

      </ion-col>

    </ion-row>

  </ion-grid>

  <!-- BUTTON -->
  <ion-button
    expand="block"
    class="verify-btn"
    (click)="verifyOtp()">

    VERIFIKASI

  </ion-button>

</ion-content>