<ion-header translucent="true">

  <ion-toolbar class="modern-toolbar">

    <!-- BACK -->

    <ion-buttons slot="start">

      <ion-back-button
        defaultHref="/home">
      </ion-back-button>

    </ion-buttons>

    <!-- TITLE -->

    <ion-title>

      Barang Masuk

    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content
  fullscreen="true"
  class="barang-masuk-content">

  <!-- LIST -->

  <div class="content-wrapper">

    <ion-card
      class="info-card"
      *ngFor="let item of pemesananList">

      <ion-card-content>

        <!-- HEADER CARD -->

        <div class="card-header">

          <div>

            <h2>

              {{ item.nama_barang }}

            </h2>

            <p>

              Incoming Product

            </p>

          </div>

          <ion-badge

            class="modern-badge"

            [color]="
              item.status == 'diterima'
                ? 'success'
                : item.status == 'ditolak'
                ? 'danger'
                : 'warning'
            ">

            {{ item.status }}

          </ion-badge>

        </div>

        <!-- INFO -->

        <div class="info-group">

          <div class="info-row">

            <span>

              Qty Pesanan

            </span>

            <strong>

              {{ item.jumlah_pesan }} pcs

            </strong>

          </div>

          <div class="info-row">

            <span>

              Supplier

            </span>

            <strong>

              {{ item.nama_supplier }}

            </strong>

          </div>

          <div class="info-row">

            <span>

              Waktu Pemesanan

            </span>

            <strong>

              {{
                item.created_at
                | date:'dd MMM yyyy • HH:mm'
              }}

            </strong>

          </div>

          <div
            class="info-row"
            *ngIf="item.verified_at">

            <span>

              Waktu Verifikasi

            </span>

            <strong>

              {{
                item.verified_at
                | date:'dd MMM yyyy • HH:mm'
              }}

            </strong>

          </div>

        </div>

        <!-- BUTTON -->

        <ion-button

          *ngIf="item.status == 'dikirim'"

          expand="block"

          class="verify-btn"

          (click)="openVerifikasi(item)">

          CEK BARANG

        </ion-button>

        <!-- SUCCESS -->

        <div
          class="status-finish success"
          *ngIf="item.status == 'diterima'">

          Barang Sudah Diverifikasi

        </div>

        <!-- DANGER -->

        <div
          class="status-finish danger"
          *ngIf="item.status == 'ditolak'">

          Barang Ditolak

        </div>

      </ion-card-content>

    </ion-card>

  </div>

</ion-content>